.wrap{
  width: 500px;
  margin: 0 auto;
}
.content{
  margin-bottom: 30px;
}
.menu{
  width: 85px;
 
  background: #000;
  float:left;
  margin-right: 20px;
  color: #fff;
  padding-left: 5px;
  
}
.menu a{
  color: #fff;
}
.menu a:hover{
  color: pink;
}
.menu li{
  margin-bottom: 10px;
}
.main{
  width: 190px;
  height: 100px;
  background: pink;
  float: right;
}
.clear{
  clear:both;
}
.header{
  background: white;
  height: 50px;
  margin-bottom: 10px;
}
.footer{
  height: 100px;
  background: yellow;
}
